* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    background-image: url(./stationery-with-apple-calculator-blackboard.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
  }
  #head{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    margin-top:1%;
    margin-left: 30%;
    margin-right: 30%;
    padding:2%;
  }
  p{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 120%;
  }
  p:hover{
    color: red;
    cursor: pointer;
  }
  #head-1{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20%;
  }

  .head-2{
    width:30%;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 30px 20px;
  }

  .head-2 > input{
      width: 80%;
      height: 2%;
      border-radius: 25px;
      padding: 5%;
      outline:red;
      text-align: center;
      font-weight: bold;
      font-size: 80%;
      /* transition-duration: 1s;
      border: 2px solid rgb(3, 34, 53);
      transition: .5s ease; */
      /* border: .2rem solid rgb(35, 82, 85); */
      outline: none;
      background: transparent;
      color: rgb(10, 12, 146);
  }
  .head-2 input:hover {
    /* box-shadow: none; */
    box-shadow: 0 0 20px rgb(20, 39, 41);
    border: 2px solid rgb(188, 31, 3);
}

#btn{
  border-radius: 30%;
  padding:5%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  background: transparent;
 color: rgb(0, 0, 0);
 border: 2px solid rgb(3, 117, 188);
}
#btn:hover {
 /* box-shadow: none; */
 box-shadow: 0 0 20px #0ef;
 transition: .5s ease;
}
  /* .head{
      margin-bottom: 30px;
      margin-left: 70px;
      margin-top:0;
      cursor: pointer; */}

   @media(minwidth:400px) {
      .head-2{
          height: 300px;
          width: 280px;
      }
  }
 